
{% extends "layout.html" %}

{% block head %}
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMI</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/><!--Replace with your tailwind.css once created-->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> <!--Totally optional:) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bmi.css')}}">

{% endblock %}

{% block content %}
 <div class="bg-gray-800 pt-3">

                    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
                        <h1 class="font-bold pl-2">Body Mass Index
                                <label class="btn btn-primary "  style="float:right; padding-right:20px">
                                </label>
                        </h1>
                    </div>
</div>
<div class="row"> <iframe src = "/bmi1"  height="350px" width="100%" style="background:black;"></iframe></div>
<div class="row">
	  <div class="profile_card w-1/2 ml-10" style="float:left;padding:10px;">
            <div class="card">
            <div class="card-body">

                    <form class ="form" method="post">
                        <!-- Form Group (username)-->
                       <table>
                            <tbody>
                                <tr>
                                    <td>Height :</td>
                                    <td><input class="input" type="text" name="height"  placeholder="cm"></td>
                                </tr>
                                <tr>
                                    <td>Weight :</td>
                                    <td><input class="input" type="text" name="weight"  placeholder="kg"></td>
                                </tr>
                            </tbody>
                       </table>
                        <button  class  = "profile_submit" type="submit" > Submit </button>
                    </form>
            </div>
          </div>
          </div>
                    <!--Graph Card-->
    <div  >
                     <div class="bg-white border-transparent rounded-lg shadow-xl w-1/3 mt-16 mr-20" style="float:right;" >
                        <div class="bg-gradient-to-b from-gray-300 to-gray-100 uppercase text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2">
                            <h class="font-bold uppercase text-gray-600">Graph</h>
                        </div>
                        <div class="p-5" style="height:343px">
                             <img src = "{{url_for('static', filename= url)}} " alt="Chart" style="margin-top: -4%" />
                        </div>
                    </div>
                    <!--/Graph Card-->
  	  </div>
</div>

<div class="row">
    <iframe src="{{url_for('videos')}}" width="100%", height="1000px"></iframe>
</div>


{% endblock content %}

